body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

header {
    background-color: #4CAF50;
    color:solid black;
    text-align: center;
    padding: 30px;
    border-style: double;
    position: sticky;
    top: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    color: darkgreen;
}

ul {
    list-style-type: disclosure-closed;
    padding: 0;
}
li{
   text-align: left;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 10px;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}